*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
background-image:url('https://wallpaperaccess.com/full/4152145.jpg') ;
background-size: 100%;
}


.container{
    width: 420px;
    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(30px);
    color:#000;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: 550px;
    margin-top: 150px;
}

.container h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(83, 24, 231, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;

}
.remember-forgot a:hover{
    color: black;
    text-decoration: underline;
    transition: .3s;
}

.container .btn{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(8, 227, 5, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.container .btn:hover{
    color: black;
    background:#333 ;
    transition: 300ms;
}
.container .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}